.side-main{
    display: flex;
    flex-direction: column;
    width: 218px;
    gap: 51px;
    align-items: center;

}
.side-logo{
    width: 50%;
}
.side-logo img{
    width: 100%;
}
.sideSection{
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    gap: 20px;
}

@media screen and (max-width: 400px) {
.side-icon{
    display: none;
}
.side-main{
    background-color: #FFF;
    width: 100%;
    display: flex;
  justify-content: center;
  align-items: flex-start;
  
}

.side-logo{
 width: 20%;
}
}
