* {
  box-sizing: border-box;
}

body {
  margin: 0;
}




.container {
  border: 2px dotted black;
  width: auto;
  margin: 5px 16px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
